/*한페이지씩 분류*/
header{ z-index: 98; transition: all .3s; top: -100px;}
header.on{top: 0px; }
header .innerheader{border-bottom : none;}
header.on .innerheader .logo p{color: #fff;}
header.on .innerheader .logo p span{color: #fff;}
.logo{opacity: 1; }
.gnb{background: #ccc;}
section{margin-bottom: 0; width: 1400px; margin: 0 auto;}
/*direction페이지에서만 흰색으로 변경*/
.filter-gray{filter: invert(100%) sepia(1%) saturate(7496%) hue-rotate(157deg) brightness(103%) contrast(101%);}

/*direction*/
.wrap{overflow: hidden; width: 100%; height: auto;}
section.direction{padding: 0; width: 100%; position: relative;}
.direction .visualText{position: absolute; top: 6%; font-size: 36px; right: 5%; transform:translateY(-50%); color: #aaa; z-index: 100; transition: all .3s;}
.direction .visualText .line .a.motion{position: absolute; right:-250px; bottom: 64px; width: 70%; height: 8px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.direction .visualText .line .b.motion{position: absolute; right:-250px; bottom: 84px;  width: 70%; height: 8px; background: #aaa; animation-name: line2; animation-duration: .7s;}
.direction .visualText .line .c.motion{position: absolute; right:-250px; bottom: 104px;  width: 70%; height: 8px; background: #aaa; animation-name: line2; animation-duration: .5s;}
@keyframes line2{
    0%{width: 0%;}
    30%{width: 0%;}
}
.word.motion{animation-name: word; animation-delay: 1.1s; animation-duration: .4s; opacity: 1;}
@keyframes word{
    0%{opacity: 0; transform: scaleY(.9);}
    30%{opacity: 0; transform: scaleY(.9);}
}
.direction .visualText h2{margin-bottom: 50px; z-index: 99; font-size: 72px; margin-right: 15px;}
.direction .photobg{width: 100%; height: 90vh; overflow: hidden; position: relative;}
.direction .photobg h4{position: absolute; bottom: 10%; right: 5%; text-align: right; color: #fff; font-size: 15px;}
.direction .photobg .anothertitle{position: absolute; top: 60%; left: 30%; transform: translateX(-50%); color: #fff; font-size: 48px; line-height: .9; text-align: right;}
.direction .photobg .anothertitle h2{margin-bottom: 25px; }
.direction .photobg .anothertitle h3{line-height: .8; font-size: 80px; margin-right: 175px;}
.direction .photobg .anothertitle h3:before{content: ''; position: absolute; right: -10px; bottom: -45px; width: 250%; height: 70%; background: #1d6155; z-index: -1;}
.direction .photobg .anothertitle h3:after{content: '▶'; position: absolute; left: -35px; bottom: 78px; font-size: 48px; }
.video-background{width: 100%;}

.direction .content{position: relative; width: 1400px; height: 70vh; margin: 0 auto; }

/*탭메뉴*/
.monthpage{width: 1400px; margin: 0 auto; position: relative;}

/*상단클릭메뉴*/
.monthpage .monthclick{ position: absolute; z-index: 1; top: -210px; left:50%; transform: translateX(-130%);}
.monthpage .monthclick li {float: left; margin-right: 15%; width: 20%; height: 75px; line-height: 50px; box-sizing: border-box; background: rgba(0, 0, 0, 0); font-size: 68px; color: #222;}
.monthpage .monthclick li.on{font-size: 96px; transition: all .3s; color: #fff;}
.monthpage .monthclick li a{display: block; width: 100%; height: 100%; text-align: center;}

/*탭내부박스*/
.monthpage .box{position: absolute; top:50px; left: 0; background: #fff; width: 100%; height: 720px; padding: 30px 20px; box-sizing: border-box; text-align: center; font-size: 100px; display: none;}
.monthpage .box.on{display: block;}

/*slick*/
.items-slider-container{  margin: 0 auto;  max-width: 1200px; position: relative; font-family: 'Nanum Gothic'; overflow: hidden; text-align: right; }
.items-slider-container .monthtitle{ font-size: 38px; font-weight: 700; margin-bottom: 20px;}
.items-slider-container .slider-for,.js-items-slider-container2 .slider-for2 {  background-color: #fff;  margin-bottom: 20px;}
.items-slider-container .slider-for .item-informations-container,.js-items-slider-container2 .slider-for2 .item-informations-container{ padding: 30px; position: absolute;}
.item-informations-container.left-top {  left: 25%;  top: 64%; text-align: right;}
.item-slide-title {  font-size: 32px;  color: #ccc;  text-transform: uppercase;  }
.item-slide-info-1 {  font-size: 22px; color: #ccc;  text-transform: uppercase;}
.item-slide-info-2 {  font-size: 20px;  font-size: 4rem; color: #2ebaaf;  text-transform: uppercase;}
.items-slider-container .slider-nav,.js-items-slider-container2 .slider-nav2,.js-items-slider-container3 .slider-nav3,.js-items-slider-container4 .slider-nav4 {  background-color: #ddd;  margin-bottom: 30px; }
.items-slider-container .slider-nav .slick-slide,.js-items-slider-container2 .slider-nav2 .slick-slide,.js-items-slider-container3 .slider-nav3 .slick-slide,.js-items-slider-container4 .slider-nav4 .slick-slide {  position: relative;  padding: 7px; }
.items-slider-container .slider{font-size: 16px;}
/*.items-slider-container .slider iframe{}*/
