@charset "utf-8";
/*section{background: #ffff86;}*/
/*mainVisual*/
.mainVisual{width: 1400px; height: 100vh; position: relative; margin: 0 auto;}
.mainVisual .title{position: absolute; left: 40%; top: 50%; transform: translate(-50%,-50%);}
.mainVisual .title h2{font-size: 96px; line-height: 0.7; color: #aaa; z-index: 100; }
.mainVisual .title h2 span{z-index: 11;}
.mainVisual .title img{width: 47%; position: absolute; left: 115%; top: 55%;transform: translateY(-50%);}

/*https://codepen.io/sooooooo/pen/zVOGmb*/
.mainVisual .title h2 span{
    width: fit-content;
  background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: fluid;
  background-size: 1000%;
  color: #aaa;
}
@keyframes fluid {
  from {
    background-position: top;
  }

  to {
    background-position: bottom;
  }
}
/*menual .goGuide*/
a.menual{position:fixed; width: 50px; height: 50px; right:15px; bottom:15px; z-index: 999;}
.menual .goGuide img{width: 100%; height: 100%;}
/*page*/
.wrap{width: 100%; height: 100%; overflow: hidden;}
section{width: 1400px; height: 100vh; position: relative; margin: 0 auto; }
/*workpage*/
.workpage{padding: 0 50px; box-sizing: border-box; position: relative; }
.workpage .visualText{position: absolute; left: 5%; top: 50%; transform:translateY(-50%); color: #aaa; z-index: 99; transition: all .3s;}
.workpage .visualText.on{position: absolute; transform:translateY(-130%); transition: all .5s;}
/*.workpage .visualText .line*/
.workpage .visualText .line .a.motion{position: absolute; top: -383px; left: 125px; width: 8px; height: 414px; background: #aaa; animation-name: line; animation-duration: .5s;}
.workpage .visualText .line .b.motion{position: absolute; top: -383px; left: 145px;  width:  8px; height: 414px; background: #aaa; animation-name: line; animation-duration: .7s;}
.workpage .visualText .line .c.motion{position: absolute; top: -383px; left: 165px;  width: 8px; height: 414px; background: #aaa; animation-name: line; animation-duration: 1s;}
@keyframes line{
    0%{height: 0px;}
    30%{height: 0px;}
}
.workpage .visualText .word{ font-size: 112px; color: #aaa; float: left;}
.workpage .visualText h3{float: left; color: #222; margin-left: 25px; margin-top: 55px; font-size: 38px;}
.workpage .visualText h3:after{content:' to create your own identity'; font-size: 14px; position: absolute; white-space: nowrap; bottom: 18px; right: 0px; font-family: 'Archivo narrow'; text-transform:uppercase; font-weight: 700;}
/*tabmenu*/
/*viewbox +slick.js*/
.tabmenu{width: 100%; height: 100vh; position: relative;}
.tabmenu .inner .slideImg{width: 50%; height: 100vh; position: absolute; left: 50%; top: 0;}
.tabmenu .inner .slideImg .viewbox{position: absolute; left: 0; top: 50%; transform: translateY(-45%); width: 400px; height: 295px; z-index: 10; box-shadow: 15px 30px 15px rgba(0, 0, 0, 0.2);}
.tabmenu .inner .slideImg .viewbox li .img {width: 400px; height: 295px;}
.tabmenu .inner .slideImg .viewbox li .img img{width: 100%; height: 100%;}
/*viewbox2*/
.tabmenu .inner .slideImg .viewbox2{position: absolute; top: 42%; width: 400px; height: 295px; left: 50%; z-index: 9; }
.tabmenu .inner .slideImg .viewbox2 li .img {width: 400px; height: 295px;}
.tabmenu .inner .slideImg .viewbox2 li .img img{width: 100%; height: 100%;}

.tabmenu #website .slideImg, .tabmenu #cell .gifwork{width: 50%; height: 100vh; position: relative; left: 45%; top: 0;}
.tabmenu #website .slideImg .viewbox, .tabmenu #motiongraphic .gifwork a, .tabmenu #cell .gifwork a{position: absolute; top: 50%;left: 15%; transform: translateY(-50%); width: 560px; height: 370px;  border-radius: 10px; z-index: 10; box-shadow: -5px 25px 30px rgba(0, 0, 0, 0.2); overflow: hidden;}.tabmenu #motiongraphic .gifwork a{left: 5%;}
.tabmenu #website .slideImg .viewbox li .img, .tabmenu #cell .gifwork a .img {width: 560px;height: auto;}
.tabmenu #motiongraphic .gifwork a .img{width: 720px; height:auto; position: absolute; right: -14%;}
.tabmenu #motiongraphic .gifwork a .img img, .tabmenu #cell .gifwork a .img img{width: 100%;}
.tabmenu #website .slideImg .viewbox li .img img{width: 100%; height: 100%;}
/*--------------------*/
.workpage .tabmenu .list{display: block; font-family: 'Archivo'; text-transform: uppercase; font-weight: bold; overflow: hidden; width: 100%; z-index: 100; height: 50px; position: absolute; top: 90vh; left: 0;}
.workpage .tabmenu > li a{display: block; padding: 0 20px; box-sizing: border-box; color:#aaa; transition: all .2s;}
.workpage .tabmenu li a:hover{color: red; transition: all .3s;}

.tabmenu .list li {float: left;  width: 32%; line-height: 50px; margin-right: 1%; }
.tabmenu .list li:first-child{display: none;}
.tabmenu .list li:last-child{margin-right: 0;}
.tabmenu .list li.on{color: red;}
.tabmenu .list li a{display: block; width: 100%; height: 100%; text-align: center;}

.tabmenu .inner{position: relative; text-align: center; display: none; width: 100%; height: 100vh;}
.tabmenu .inner.on{display:block;}

.tabmenu .inner .lefttxt{width: 50%; height: 200px; position: absolute; left: 25px; top: 58%;}
.tabmenu .inner h2{font-size: 47px; color: #fff; 
    color:#d9d9d9;
/*    text-shadow: 3px 3px 7px rgb(0, 0, 0,0.25); */
    text-transform: uppercase; font-weight: 700; }
.tabmenu .inner h3{line-height: 1.7; font-size: 14px; text-align: left; margin-left: 140px; margin-top: 15px;}
.workpage .tabmenu #website h2, .workpage .tabmenu #motiongraphic h2, .workpage .tabmenu #cell h2{margin-top: -100px; margin-left: -35px;}
.workpage .tabmenu #cell h2{margin-left: -55px;}
.workpage .tabmenu #website h3, .workpage .tabmenu #motiongraphic h3, .workpage .tabmenu #cell h3{margin-left: 115px; margin-top: 15px;}
.tabmenu .inner .btn {float: left; margin-left: 115px; margin-top: 25px; padding:15px 55px; border-radius: 50px; border: 1px solid #aaa; font-size: 24px;}

/*------------------------------------*/
.about{padding: 0 50px; box-sizing: border-box; position: relative;}
.about .visualText{position: absolute; left: 5%; top: 25%; transform:translateY(-50%); color: #aaa;}
.about .visualText .line .a.motion{position: absolute; right:-1375px; bottom: 35px; width: 365%; height: 8px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.about .visualText .line .b.motion{position: absolute; right:-1375px; bottom: 55px;  width: 365%; height: 8px; background: #aaa;animation-name: line2; animation-duration: .7s;}
.about .visualText .line .c.motion{position: absolute; right:-1375px; bottom: 75px;  width: 365%; height: 8px; background: #aaa; animation-name: line2; animation-duration: .5s;}
@keyframes line2{
    0%{width: 0;}
    30%{width: 0;}
}
.word.motion{font-size: 112px; animation-name: word; animation-delay: 1.1s; animation-duration: .4s; opacity: 1;}
@keyframes word{
    0%{opacity: 0; transform: scaleY(.9);}
    30%{opacity: 0; transform: scaleY(.9);}
}
.about .lefttxt{width: 50%; height: 50vh; position: relative; padding: 350px 0 0 0; z-index: 0; }
.about .lefttxt h3{margin-left: 25px; color: #222; font-size: 38px; position: absolute; top: 42%;}
.about .lefttxt h3:after{content:'to enter my portfolio site.'; font-size: 14px; position: absolute; white-space: nowrap; bottom: -15px; left: 10px;font-family: 'Archivo narrow'; text-transform:uppercase; }
.about .lefttxt h4{position: absolute; top: 50%; left: 5%; line-height: 1.7; font-size: 15px; }
.about .lefttxt .btn{position: absolute; top: 70%; left: 5%; padding:15px 55px ; border-radius: 50px; border: 1px solid #aaa; font-size: 24px;}
.about .lefttxt .myPhoto{position: absolute; left: 67%; top: 70%; width: 180px; height: 180px; background:url(../img/about/profileimg_color.jpg)no-repeat 50% 50%/ 180% 160%; border-radius: 50%; box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.15); opacity: .75; filter: grayscale();
  -webkit-transform: scale(var(--scale, 0.8));
          transform: scale(var(--scale, 0.8));
  transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91), -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

.about .lefttxt .myPhoto:hover {
  --scale: 1;
    opacity: 1;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
    filter: none;
}
.about .lefttxt .myPhoto:after{content: 'profile here'; position: absolute; left: 50%; transform: translateX(-50%); top: 50%; white-space: nowrap; color: #fff; transition: all 0.1s;}
.about .lefttxt .myPhoto:hover:after{color: transparent; transition: all 0.1s;}
.about .sideImg.motion{position: absolute; width: 70%; height: 420px; top: 35%;  right: -20%; background: url(../img/about/clark-van-der-beken-O8rDfC6F3TU-unsplash.jpg)no-repeat left/cover;box-shadow: 15px 40px 15px rgba(0, 0, 0, 0.2); animation-name: sideimgani; animation-duration: .8s; opacity: 1;}
@keyframes sideimgani{
    0%{opacity: 0; right:-120%;}
    30%{opacity: 0; right:-120%;}
}
/*section.skill*/
.skill{padding: 0 50px; box-sizing: border-box; position: relative; }
.skill .visualText{position: absolute;bottom: 0; left: 25%; font-size: 96px; color: #aaa;}
.skill .visualText .word{position: absolute; bottom: 135px;left: 80px; transform: translateX(50%);}
.skill .visualText .word.motion{color: #aaa; animation-name: word2; animation-duration: 1.3s; opacity: 1;}
@keyframes word2{
    0%{opacity: 0;}
    30%{opacity: 0;}
}
/*.skill .visualText .line*/
.skill .visualText .line.left .a.motion{position: absolute; left: -590px; bottom: 168px; height: 8px; width: 800px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.skill .visualText .line.left .b.motion{position: absolute; left: -590px; bottom: 188px;  height:  8px; width: 800px; background: #aaa; animation-name: line2; animation-duration: .7s;}
.skill .visualText .line.left .c.motion{position: absolute; left: -590px; bottom: 208px;  height: 8px; width: 800px; background: #aaa;animation-name: line2; animation-duration: .5s;}
.skill .visualText .line.right .a.motion{position: absolute; right: -1330px; bottom: 168px; height: 8px; width: 800px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.skill .visualText .line.right .b.motion{position: absolute; right:-1330px; bottom: 188px;  height:  8px; width: 800px; background: #aaa;animation-name: line2; animation-duration: .7s;}
.skill .visualText .line.right .c.motion{position: absolute; right: -1330px; bottom: 208px;  height: 8px; width: 800px; background: #aaa;animation-name: line2; animation-duration: .5s;}

/*--------------------line---------------------*/
.skill h2{font-size: 45px;color: #222; position: absolute; top: 50%; left: 50%; transform: translateX(-50%); white-space: nowrap;}
.skill h2:after{content:'create your own identity'; font-size: 14px; position: absolute; white-space: nowrap; top: -5px; right: 10px; font-family: 'Archivo narrow'; text-transform: uppercase; }
.skill h3{position: absolute; top: 56%; left: 50%; line-height: 1.7; transform: translateX(-50%); font-size: 15px;}
/*circleBox*/
.skill .innerslide .innertab{width: 100%; height: 100vh;position: relative;}
.skill .innerslide .innertab .circleBox{width: 100%; height: 50vh; position: relative; padding: 180px 0 0 150px;}
.skill .innerslide .innertab:last-child .circleBox{ margin-left: 200px;}
.circleBox li{float: left; margin-right: 1.5%;}
.circleBox li:last-child{margin-right: 0;}
.circleBox .circle.motion{
  width: 180px;
  height: 180px;
  border-radius: 150px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background:#0af;
  position: relative;
  overflow: hidden;
  transform: translate3d(1, 1, 1);
  animation-name: circlescale;
  animation-duration: 2.2s;  
}
@keyframes circlescale{
    0%{transform: scale(0);}
    70%{transform: scale(0);}
}
.circleBox .circle:nth-child(1).motion{animation-duration: 1.8s;}
.circleBox .circle:nth-child(3).motion{animation-duration: 1.5s;}
.circleBox .circle:nth-child(4).motion{animation-duration: 2s;}
.circleBox .circle:nth-child(5).motion{animation-duration: 2.3s;}
.circleBox .circle:last-child{background: #ad00ff;}
.circleBox .circle:nth-child(2){background: #ff7500;}
.circleBox .circle:nth-child(3){background: #f8b922;}
.circleBox .circle:nth-child(4){background: #ff11a5;}

.circleBox .circle .wave {
  opacity: .7;
  position: absolute;
  top: -110%;
  left: 50%;
  background: aliceblue;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.circleBox .circle .wave.-three {
  animation: drift 5000ms infinite linear;
}

.circleBox .circle .wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: #fff;
}

.circleBox .circle:after {  content: '';  display: block;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));  z-index: 11;  transform: translate3d(0, 0, 0);}

.circleBox .circle .title {  position: absolute;  left: 0;  top: -25%;  width: 100%;  z-index: 1;  line-height: 300px;  text-align: center;  transform: translate3d(0, 0, 0);  color:#fff;  letter-spacing: .1em;  font-size: 48px; text-shadow: 0 1px 0 rgba(black, .1); text-indent: .3em; font-family: 'Archivo narrow' ;
    font-weight: 500;
    text-transform: uppercase;} 

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

#slick-slide-control30,#slick-slide-control31{border: none; background: #aaa; border-radius: 50%; width: 35px; height: 35px; position: absolute; background: url(/img/common/upload.svg)no-repeat center/cover; top: 51%; }
#slick-slide-control30{left: 0; transform: rotate(-90deg);}
#slick-slide-control31{right: 0px; transform: rotate(90deg);}
/*section .direction*/

.direction{padding: 0 50px; box-sizing: border-box; position: relative;}
.direction .visualText{position: absolute; left: 51.3%; top: 25%;transform:translateY(-50%); color: #aaa;}
.direction .visualText .line .a.motion{position: absolute; left:-970px; bottom: 35px; width: 177%; height: 8px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.direction .visualText .line .b.motion{position: absolute; left:-970px; bottom: 55px;  width: 177%; height: 8px; background: #aaa; animation-name: line2; animation-duration: .7s;}
.direction .visualText .line .c.motion{position: absolute; left:-970px; bottom: 75px;  width: 177%; height: 8px; background: #aaa; animation-name: line2; animation-duration: .5s;}
.direction .visualText h2{ margin-left: 5%; }
.righttxt{width: 50%; height: 50vh; position: relative; padding: 350px 0 0 0; transform: translateX(100%);}
.direction .righttxt h3{font-size: 38px; color: #222; text-align: right; margin-right: 8%; position: relative;}
.direction .righttxt h3:after{content:':To show the road one has taken.'; font-size: 15px; position: absolute; white-space: nowrap; bottom: -15px; right: 0px; font-family: 'Archivo narrow'; text-transform: uppercase;}
.direction .sideImg.motion{position: absolute; width: 70%; height: 420px; top: 35%; left:-18%; background:url(../img/direction/direction_cover.jpg)no-repeat left/cover; box-shadow: 10px 40px 15px rgba(0, 0, 0, 0.2); animation-name: sideimgani2; animation-duration: .8s; opacity: 1;}
@keyframes sideimgani2{
    0%{opacity: 0; left:-100%;}
    30%{opacity: 0; left:-100%;}
}
.direction h4{position: absolute; top: 55%; right: 8%; line-height: 1.7; text-align: right; font-size: 15px;}
.direction .btn{position: absolute; top: 70%; right: 8%; padding:15px 55px; border-radius: 50px; border: 1px solid #aaa; font-size: 24px;}

/*footer*/
.footer{position: relative; width: 100%; height: 50vh; background-color:#ccc; z-index: 10;}
.footer .innerbox{width: 1400px; height: 500px; margin: 0 auto; position: relative; }
.footer .innerbox ul { padding:250px 100px; box-sizing: border-box;}
.footer .innerbox ul li{float: left; margin-right: 5%; 
}
/*https://css-tricks.com/adding-stroke-to-web-text/ 텍스트 테두리*/
.footer .innerbox ul li:first-child{width: 15%;-webkit-text-stroke: 1px #666; color: aliceblue;}
.footer .innerbox ul li:nth-child(2){width: 10%; -webkit-text-stroke: 1px #666; color: aliceblue;}
.footer .innerbox ul li:nth-child(3){width: 10%; font-family: 'Archivo Narrow','Nanum Gothic';}
.footer .innerbox ul li:nth-child(4){width: 10%;font-family: 'Archivo Narrow','Nanum Gothic';}
.footer .innerbox ul li:last-child{width: 10%; font-family: 'Archivo Narrow','Nanum Gothic'}

.snslink{width: 10%; position: absolute; left: 85%; top: 250px; transform: translateX(-50%); display: flex;}
.snslink a {
    margin-right: 10px;
    z-index: 9999;
  display: block;
  opacity: .2;
  -webkit-transform: scale(var(--scale, 0.8));
          transform: scale(var(--scale, 0.8));
  transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91), -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
.snslink a:hover {
  --scale: 1;
    opacity: .8;
}
