/*한페이지씩 분류*/
header{ z-index: 98;}
header .innerheader{border-bottom: none;}
.logo{opacity: 1;}
.gnb{background: #ccc;}
section{margin-bottom: 0;}

/*skill*/
.skill .visualText .word{position: absolute; left: 50%; top: 15%; transform:translate(-50%,150%); color: #aaa; animation-name: word2-1; animation-duration: 1.1s;}
@keyframes word2-1{
    0%{opacity: 0;}
    70%{opacity: 0;}
}
.skill .visualText .line{position: absolute; bottom: -500px;}
.skill .visualText .line.left .a{position: absolute; left: -590px; bottom: 160px; height: 10px; width: 720px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.skill .visualText .line.left .b{position: absolute; left: -590px; bottom: 188px;  height:  10px; width: 720px; background: #aaa; animation-name: line2; animation-duration: .7s;}
.skill .visualText .line.left .c{position: absolute; left: -590px; bottom: 216px;  height: 10px; width: 720px; background: #aaa;animation-name: line2; animation-duration: .5s;}
.skill .visualText .line.right .a{position: absolute; right: -1330px; bottom: 160px; height: 10px; width: 720px; background: #aaa; animation-name: line2; animation-duration: 1s;}
.skill .visualText .line.right .b{position: absolute; right:-1330px; bottom: 188px;  height:  10px; width: 720px; background: #aaa;animation-name: line2; animation-duration: .7s;}
.skill .visualText .line.right .c{position: absolute; right: -1330px; bottom: 216px;  height: 10px; width: 720px; background: #aaa;animation-name: line2; animation-duration: .5s;}