@charset "utf-8";

 /* bbsList */
.bbsList th,
.bbsList td{padding:10px; border-bottom:1px solid #d8d8d8; text-align:center;}
.bbsList thead th{border-top:1px solid #868686; border-bottom:1px solid #868686; font-weight:500; color:#333;}
.bbsList thead tr th:first-child{border-left:1px solid #868686;}
.bbsList thead tr th:last-child{border-right:1px solid #868686;}
.bbsList td{color:#666; word-break:break-all;}
.bbsList tr.active td{background:#f0f6f8; color:#333 !important;}
.bbsList td[data-table="subject"] a{display:inline-block;}
.bbsList td[data-table="subject"]{text-align:left;}
.bbsList td[data-table="subject"] i{display:inline-block; margin-left:10px; font-size:13px; font-family:'Verdana'; color:#ce6c0c;}
.bbsList td[data-table="subject"] .new{display:inline-block; margin-right:5px; width:25px; height:11px; background:url(../images/board/icon_new.png) no-repeat 0 0; text-indent:100%; overflow:hidden; white-space:nowrap;}
.bbsList td[data-table="number"] .notice{display:block; position:relative; width:25px; height:25px; margin:0 auto; background:#f69036; border-radius:50%; text-indent:100%; overflow:hidden; white-space:nowrap;}
.bbsList td[data-table="number"] .notice:before{content:'공'; display:block; color:#fff; text-indent:0; line-height:23px;}
.bbsList .none{text-align:center;}
.bbsList .reply{display:inline-block; position:relative; padding:0 7px; margin-right:5px; background:#41464e; border-radius:3px; font-size:13px; color:#fff;}
.bbsList .reply:before,
.bbsList .reply:after{content:''; display:block; position:absolute; left:-10px; background:#41464e;}
.bbsList .reply:before{top:0px; width:1px; height:10px;}
.bbsList .reply:after{top:10px; width:10px; height:1px;}

ul.bbsList{border-top:2px solid #868686;}
ul.bbsList li{position:relative; padding:40px 15px; border-bottom:1px solid #ddd;}
ul.bbsList li > *{display:block;}
ul.bbsList li .date{position:absolute; left:15px; top:50%; width:80px; height:62px; margin-top:-31px; font-family:'Verdana'; font-size:18px; color:#999; text-align:center; font-weight:400;}
ul.bbsList li .date i{display:block; font-size:40px; color:#444; line-height:1em;}
ul.bbsList li .date:before{content:''; display:block; position:absolute; right:-15px; top:50%; width:1px; height:30px; margin-top:-15px; background:#e5e5e5;}
ul.bbsList li .subject{padding-left:125px; padding-right:100px; font-size:18px; letter-spacing:-1px;}
ul.bbsList li .subject:hover,
ul.bbsList li .subject:focus{color:#f15b6d;}
ul.bbsList li .more{overflow:hidden; position:absolute; right:15px; top:50%; width:36px; height:36px; margin-top:-16px; background:#fff; border:1px solid #ddd; transition:all 0.3s ease 0s;}
ul.bbsList li .more em{display:none; padding-left:10px; color:#f15b6d; line-height:36px;}
ul.bbsList li .more:before{content:''; display:block; position:absolute; left:50%; top:50%; width:14px; height:14px; margin:-7px 0 0 -7px; background:url(../images/board/icon_more.png) no-repeat 0 0;}
ul.bbsList li .more:hover,
ul.bbsList li .more:focus{width:110px; border-color:#f15b6d;}
ul.bbsList li .more:hover em,
ul.bbsList li .more:focus em{display:block;}
ul.bbsList li .more:hover:before,
ul.bbsList li .more:focus:before{background-position:0 -14px; right:10px; left:auto; margin-left:0px;}
ul.bbsList li .notice{display:inline-block; width:25px; height:25px; margin-right:10px; margin-top:-5px; background:#f69036; border-radius:50%; text-align:center; vertical-align:middle; text-indent:100%; overflow:hidden; white-space:nowrap;}
ul.bbsList li .notice:before{content:'공'; display:block; color:#fff; text-indent:0; line-height:23px;}

/* photoList */
.photoList{padding-bottom:15px;}
.photoList:after{content:''; display:block; clear:both;}
.photoList > li{float:left; width:32%; margin-top:20px;}
.photoList > li:nth-child(3n+2){margin:20px 2% 0;}
.photoList > li a{display:block; background:#fff; border:1px solid #d8d8d8; transition:all 0.3s ease 0s;}
.photoList > li a > *{display:block;}
.photoList > li a > *:not(.img){padding-left:15px; padding-right:15px;}
.photoList > li .img{overflow:hidden; width:100%; height:240px; background:#f5f5f5; text-align:center;}
.photoList > li .img img{height:100%; margin-left:-100%; margin-right:-100%; transform:scale(1,1); transition:all 0.5s ease-out 0s;}
.photoList > li a > em{opacity:1; margin-top:15px; padding-bottom:10px; font-size:15px; letter-spacing:-1px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.photoList > li a:hover,
.photoList > li a:focus{background:#f0f6f8;}
.photoList > li a:hover img,
.photoList > li a:focus img{opacity:0.7; transform:scale(1.1,1.1);}
.photoList > li .write{position:relative; padding-top:7px; padding-bottom:7px; border-top:1px dashed #d8d8d8; color:#999;}
.photoList > li .write em{position:absolute; left:15px; top:50%; margin-top:-7px; line-height:1em;}
.photoList > li .write i{display:block; padding-left:85px; text-align:right;}

/* blog style */
.blogList{border-top:2px solid #868686;}
.blogList li{padding:20px 5px; border-bottom:1px solid #e1e1e1; transition:all 0.3s ease 0s;}
.blogList li:after{content:''; display:block; clear:both;}
.blogList li > a{display:block; letter-spacing:-0.5px;}
.blogList li span{display:inline-block; color:#333; font-weight:500; font-size:16px;}
.blogList li p{margin-top:10px; line-height:1.4em; letter-spacing:-1px; font-size:15px;}
.blogList li em{display:block; margin-top:10px; font-size:13px;} 
.blogList li:hover,
.blogList li:focus{background:#f0f6f8;}
.blogList li img{float:left; width:142px; height:95px;}
.blogList li img ~ span{margin-left:18px;}
.blogList li img ~ p,
.blogList li img ~ em{margin-left:160px;}

/* bbsView */
.bbsTitle{padding:10px !important; margin:0px !important; border-top:2px solid #868686; font-size:18px !important; font-weight:400 !important; color:#222 !important;}
.bbsTitle:before{display:none !important;}
.bbsTitle em{display:inline-block; margin-right:5px; color:#148f77;}
.bbsTitle .reply{display:inline-block; position:relative; padding:0 7px; margin-right:5px; margin-bottom:3px; background:#41464e; border-radius:3px; font-size:13px; color:#fff; vertical-align:middle;}
.bbsView{border-collapse:inherit; table-layout:fixed;}
.bbsView th,
.bbsView td{padding:10px; border-bottom:1px solid #d8d8d8;}
.bbsView th{background:#fff; border-left:1px solid #868686; border-right:1px solid #868686; box-shadow:3px 0px 0px rgba(0,0,0,0.1); text-align:left; font-weight:500; letter-spacing:-1px;}
.bbsView td{border-right:1px solid #d8d8d8; color:#666; word-break:break-all;}
.bbsView tr:first-child th{border-top:1px solid #868686;}
.bbsView tr:last-child th{border-bottom:1px solid #868686;}
.bbsView tr:first-child td{border-top:1px solid #d8d8d8;}
.bbsView th[data-view="date"],
.bbsView th[data-view="count"]{border-bottom:1px solid #868686;}
.bbsView th[data-view="file"]{border-top:1px solid #868686;}
.bbsView th[data-view="file"] + td{border-top:1px solid #d8d8d8;}
.bbsView th[data-view="date"] + td{border-right-width:0px;}
.bbsView td.conts{padding:30px 20px; border:0px;}
.bbsView div.conts{min-height:350px;}
.bbsView .conts .img{padding-bottom:30px; text-align:center;}
.bbsView .conts .img img{max-width:100%;}
.bbsView textarea{resize:none; height:150px;}
.bbsView td.address > input[type="text"]{margin-top:3px;}
.bbsView td.date > span{margin-right:10px;}
.bbsView td.category div{margin-top:3px;}
.bbsView td.file > span{display:block; margin:2px 0;}
.bbsView *[data-member-form="addr"] > input[type="text"]{margin-top:3px;}
.bbsView.page{margin-top:20px;}
.bbsView.page th{background:#fdf8eb;}

*[class^="bbs"] ~ .btn_area{padding-top:50px;}

.bbsView.dl{margin-top:20px; border-top:1px solid #868686;}
.bbsView dl dt,
.bbsView dl dd{box-sizing:border-box; padding:10px 15px; border-bottom:1px solid #d8d8d8; word-break:keep-all;}
.bbsView dl dt{width:20%; background:#fff; border-left:1px solid #868686; border-right:1px solid #868686; box-shadow:3px 0px 0px rgba(0,0,0,0.1); text-align:left; font-weight:500; letter-spacing:-1px; vertical-align:middle;}
.bbsView dl dt span{display:inline-block; vertical-align:middle;}
.bbsView dl dd{width:80%; border-right:1px solid #d8d8d8;}
.bbsView dl dd input[type="text"],
.bbsView dl dd input[type="password"],
.bbsView dl dd input[type="file"],
.bbsView dl dd textarea,
.bbsView dl dd select{width:100%;}
.bbsView dl dd input[type="file"]{font-size:14px;}
.bbsView dl:last-child dt,
.bbsView dl:last-child dd{border-bottom:1px solid #868686;}
.bbsView dl.col02 dt{width:20%;}
.bbsView dl.col02 dd{width:30%;}
.bbsView dl.col02 dt:nth-of-type(2){border-left-width:0px;}
.bbsView dl.colspan{position:relative;}
.bbsView dl.colspan dt{height:54px; vertical-align:top;}
.bbsView dl.colspan dt:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
.bbsView dl.colspan dd{position:absolute;/*  width:960px; */}

/* th,td tr에 여러개 들어갈 경우 */
.bbsView.col tr td:not(:last-child){border-right-width:0px !important;}

/* 댓글 */
.comment_area{padding:30px 0 50px;}
.comment_area h4{margin-bottom:15px; font-size:16px !important; color:#333; font-weight:400;}
.comment_area h4 > span{margin-left:5px;}
.comment_area .write{border:1px solid #c3c3c3;}
.comment_area .write .input{padding:7px 20px; border-bottom:1px solid #e1e1e1;}
.comment_area .write .send{position:relative; border-top:1px solid #e1e1e1; text-align:right;}
.comment_area .write textarea{width:100%; height:130px; border:0px; padding:20px;}
.comment_area .write label{margin-right:10px; letter-spacing:-1px; font-size:13px;}
.comment_area .write input[type="text"]{width:180px;}
.comment_area .write input[type="password"]{width:220px;}
.comment_area .write .input:after{content:''; display:block; clear:both;}
.comment_area .write .input > span{float:right;}
.comment_area .write .input > span:first-child{float:left;}
.comment_area .write .btn_submit,
.comment_area .write input[type="submit"]{display:inline-block; width:75px; height:50px; line-height:47px; margin:0 -1px -1px 0; box-sizing:border-box; background:#274b9f; border:0px; color:#fff; text-align:center;}
.comment_area .list{padding-top:30px;}
.comment_area .list ul > li{position:relative; min-height:90px; padding:15px 0px; border-bottom:1px solid #e1e1e1; letter-spacing:-0.5px;}
.comment_area .list ul > li:first-child{border-top:1px solid #e1e1e1;}
.comment_area .list ul > li > p{margin-top:15px; line-height:1.4em; word-break:keep-all;}
.comment_area .list .name{font-weight:600;}
.comment_area .list .btn{position:absolute; right:0px; top:10px;}
.comment_area .list .btn .date{font-family:'Verdana'; font-size:13px;}
.comment_area .list .btn > *{vertical-align:middle;}
.comment_area .list .btn a[class^="btn_"]{display:inline-block; width:24px; height:24px; margin-left:5px; border:1px solid #c3c3c3; text-indent:100%; overflow:hidden; white-space:nowrap;}
.comment_area .list .btn_reply{background:url(../images/board/btn_comment.png) no-repeat 50% 50%;}
.comment_area .list .btn_del{background:url(../images/board/btn_comment_del.png) no-repeat 50% 50%;}
.comment_area .list .reply_area{margin-top:20px; background:#f7f7f7;}
.comment_area .list .reply_area.write .btn_submit,
.comment_area .list .reply_area.write input[type="submit"]{background:#41464e;}
.comment_area .list .reply_area.write textarea{height:80px;}
.comment_area .comment_password{position:absolute; top:0px; left:0px; z-index:5; width:100%; height:100%; background:rgba(255,255,255,0.9); text-align:center;}
.comment_area .comment_password p{padding:20px 0 10px; font-weight:400;}

/* search + button */
.search_bbs{margin-top:20px;}
.search_bbs:after{content:''; display:block; clear:both;}
.search_bbs .search{float:left;}
.search_bbs .search input[type="text"]{width:200px;}
.search_bbs .search .button{min-width:auto;} 
.search_bbs .btn{float:right;}

/* nodata */
.none_data{padding:20px 10px; border-bottom:1px solid #d8d8d8; text-align:center;}

/* pagination */
.pagination{margin-top:30px; padding-top:30px; border-top:1px dashed #dadada; text-align:center;}
.pagination > *{display:inline-block; min-width:28px; height:28px; box-sizing:border-box; border:1px solid #ddd; background:#fff; color:#777; text-align:center; vertical-align:top; line-height:26px; transition:all 0.3s ease 0s;}
.pagination a[class^="btn_"]{width:28px; background-image:url(../images/board/btn_pagination.png); background-repeat:no-repeat; text-indent:100%; overflow:hidden; white-space:nowrap;}
.pagination a[class^="btn_"]:hover,
.pagination a[class^="btn_"]:focus{background-position-y:-28px;}
.pagination a.btn_prev{background-position-x:-28px;}
.pagination a.btn_next{background-position-x:-56px;}
.pagination a.btn_last{background-position-x:-84px;}
.pagination span,
.pagination a:not([class^="btn_"]):hover,
.pagination a:not([class^="btn_"]):focus{background:#41464e; border-color:#25282d; color:#fff;}

/* file */
.list_file li{margin-top:4px;}
.list_file li:first-child{margin-top:0px;}
.list_file li > a{display:block; position:relative; padding-left:25px;}
.list_file li > a:before{content:''; display:block; position:absolute; left:0px; top:3px; width:16px; height:16px; background:url(../images/board/icon_file.png) no-repeat 0 0;}
.list_file li > a:hover,
.list_file li > a:focus{color:#2783c7;}

/* faq */
.faqList{margin-top:20px; border-top:2px solid #868686;}
.faqList dt,
.faqList dd{position:relative; border-bottom:1px solid #d8d8d8;}
.faqList dt:before,
.faqList dd:before{display:block; position:absolute; left:20px; top:27px; width:36px; height:34px; line-height:34px; background:#f69036; border-radius:2px; text-align:center; color:#fff; font-size:20px; font-weight:600;}
.faqList dt:before{content:'Q';}
.faqList dd:before{content:'A'; background-color:#444;}
.faqList dt{padding:30px 20px 30px 66px; font-size:16px;}
.faqList dd{display:none; background:#f8f8f8;}
.faqList dd > div{padding:30px 20px 30px 66px;}
.faqList .box_comm{background:#fff;}
.faqList dt a{display:block; padding-right:45px;}
.faqList dt a.on{font-weight:500;}
.faqList dt a:after{content:''; display:block; position:absolute; right:32px; top:50%; width:12px; height:7px; margin-top:-3px; background:url(../images/board/img_faq.png) no-repeat 0 0; transition:all 0.3s ease 0s;}
.faqList dt a:before{content:''; display:block; position:absolute; right:20px; top:50%; width:36px; height:36px; margin-top:-18px; border:1px solid #ddd;}
.faqList dt a.on:after{transform:rotate(180deg);}
.faqList table td{background-color:#fff;}

/* pdf */
.pdfList{padding:20px 0; border-top:2px solid #868686;}
.pdfList:after{content:''; display:block; clear:both;}
.pdfList li{float:left;}
.pdfList li .img{display:block; position:absolute; left:25px; top:-20px; width:138px; height:192px; overflow:hidden; box-shadow:1px 1px 2px rgba(0,0,0,0.1); border:1px solid #e0e0e0;}
.pdfList li .img > a{display:block;}
.pdfList li .img img{width:138px; height:192px;}
.pdfList li .img + a{display:block; line-height:1.3em; word-break:keep-all;}
.pdfList li a.btn{display:inline-block; position:relative; min-width:100px; height:33px; line-height:31px; box-sizing:border-box; padding:0 15px; background:#41464e; border:1px solid #25282d; font-size:13px; transition:all 0.3s ease 0s;}
.pdfList li a.btn.pdf{background:#fff; padding-right:30px; color:#444 !important; border-color:#d6d6d6;}
.pdfList li a.btn.pdf:after{content:''; display:block; width:10px; height:10px; background:url(../images/board/icon_down.png) no-repeat 0 0; position:absolute; right:10px; top:50%; margin-top:-5px;}
.pdfList li a.btn.pdf:hover,
.pdfList li a.btn.pdf:focus{background:#222; border:1px solid #222; color:#fff !important; box-shadow:3px 3px 0 rgba(0,0,0,0.15);}
.pdfList li a.btn.pdf:hover:after,
.pdfList li a.btn.pdf:hover:focus{background-position:0 -10px;}
.pdfList li > div{position:relative; height: 204px; box-sizing:border-box; padding:20px; margin:30px 0px; background:#fff; border:1px solid #eaeaea; transition:all 0.2s ease 0s;}
.pdfList li > div > .img ~ *{margin-left:180px;}
.pdfList li > div:hover,
.pdfList li > div:focus{border:1px solid #222; cursor:pointer;}
.pdfList li .date{margin:10px 0 20px; font-size:12px; color:#777;}

/* 비밀번호확인 */
.secret_area{position:relative; margin:40px 0; text-align:center;}
.secret_area:before{content:''; display:block; width:62px; height:62px; border:3px solid #59626a; border-radius:50%; margin:0 auto 20px;}
.secret_area:after{content:''; display:block; width:20px; height:24px; background:url(../images/board/img_secret.gif) no-repeat 0 0; position:absolute; left:50%; top:23px; margin-left:-10px;}
.secret_area p{margin-bottom:10px; font-weight:300;}
.secret_area input[type="password"]{width:240px; height:45px;}
.secret_area > *{vertical-align:middle;}
.secret_area .button{min-width:80px; height:45px; line-height:43px;}
.secret_area .button:before{height:43px;}

/* design radio */
.designRadio input[type="radio"]{position:absolute; top:0px; left:0px; opacity:0;}
.designRadio input[type="radio"] + label{height:16px; padding-left:20px; padding-bottom:2px; margin-right:10px; cursor:pointer; background:url(../images/board/sp_radio.png) no-repeat 0 -16px; line-height:1em;}
.designRadio.white input[type="radio"] + label{background:url(../images/board/sp_radio_w.png) no-repeat 0 -16px;}
.designRadio input[type="radio"]:checked + label{background-position:0px 0px;}
.designRadio input[type="radio"]:disabled + label{background-position:0px -32px;}


@media all and (min-width:1025px){
	.pdfList li{width:32%; margin-left:2%;}
	.pdfList li:nth-child(3n+1){margin-left:0px;}
}

@media all and (min-width:641px){
	.bbsList tbody tr:first-child td{box-shadow:0px 3px 0px rgba(0,0,0,0.1) inset;}
}

@media all and (min-width:481px){
	.bbsView.dl{display:table; table-layout:fixed; width:100%;}
	.bbsView dl{display:table-row;}
	.bbsView dl dt,
	.bbsView dl dd{display:table-cell;}
}

@media all and (max-width:1199px){
	.bbsView dl.colspan dd{width:calc(100% - 20%);}	
}

@media all and (max-width:1129px){
	/* .bbsView dl.colspan dd{width:calc(100% - 20% - 1px);} */
}

@media all and (max-width:1024px){
	.photoList > li .img{height:180px;}	
	.pdfList li{width:48%;}
	.pdfList li:nth-child(2n){float:right;}
	.pdfList li > div > .img ~ *{margin-left:160px;}
}

@media all and (max-width:900px){
	.bbsView *[data-member-form="email"] > *{margin:2px 0px;}
	.bbsView *[data-member-form="email"] > input[type="text"]:nth-of-type(1){display:block; width:100%;}
	.bbsView *[data-member-form="phone"] > span{display:block;}
}

@media all and (max-width:768px){
	.bbsList col[data-table="number"]{width:70px !important;}
	.bbsList col[data-table="write"]{width:90px !important;}
	.bbsList col[data-table="date"]{width:100px !important;}
	.bbsList col[data-table="category"]{width:110px !important;}
	
	.bbsView *[data-member-form="email"] > select{width:100% !important;}
}

@media all and (max-width:640px){
	.bbsList thead{display:none;}
	.bbsList tr{display:block; position:relative; margin-top:10px; border-radius:3px; border:1px solid #d8d8d8;}
	.bbsList tr:first-child{margin-top:0px;}
	.bbsList tr:nth-child(2n){background:#fbf8f2;}
	.bbsList tbody td{display:block; border-bottom:0px;}
	.bbsList td[data-table="number"]{display:none;}
	.bbsList td[data-table="subject"]{padding:0px; border-bottom:1px dashed #e4e4e4;}
	.bbsList td[data-table="subject"] > a{display:block; padding:10px;}
	.bbsList td[data-table="date"]{position:absolute; right:0px; bottom:0px; width:80px;}
	.bbsList td[data-table="write"]{padding-right:110px; text-align:left;}
	.bbsList td[data-table="category"]{border-bottom:1px dashed #e4e4e4; text-align:left; color:#148f77;}
	.bbsList .reply:before,
	.bbsList .reply:after{display:none;}
	.bbsList .reply + a{padding-top:5px !important;}
	
	ul.bbsList li{padding:30px 15px;}
	ul.bbsList li .date{height:54px; margin-top:-26px; font-size:16px;}
	ul.bbsList li .date i{font-size:35px;}
	ul.bbsList li .subject{padding-left:115px; padding-right:55px; font-size:16px;}
	
	.photoList > li{width:49%;}
	.photoList > li:nth-child(2n){float:right;}
	.photoList > li:nth-child(3n+2){margin-left:0px; margin-right:0px;}
	.photoList > li .img{height:165px;}	
	
	.blogList li{padding:15px 0;}
	.blogList li > a{position:relative; min-height:67px;}
	.blogList li img{float:none; width:99px; height:67px; position:absolute; left:0px; top:50%; margin-top:-35px;}
	.blogList li img ~ span,
	.blogList li img ~ p,
	.blogList li img ~ em{margin-left:109px;}
	
	.pdfList li{float:none !important; width:100%;}
	
	.search_bbs .search,
	.search_bbs .btn{float:none; text-align:center;}
	.search_bbs .btn{margin-top:10px;}
	
	.bbsView col[data-view="th"]{width:80px !important;}
	.bbsView col[data-view="td"]{width:auto !important;}
	.bbsView th[data-view="count"] + td{width:70px !important;}
	.bbsView col[data-write="th"]{width:120px !important;}
	.bbsView col[data-write="td"]{width:auto !important;}
	.bbsView input[type="text"],
	.bbsView input[type="file"],
	.bbsView input[type="password"]{width:100% !important;}
	.bbsView td.tel > input[type="text"],
	.bbsView td.tel > select,
	.bbsView *[data-member-form="phone"] > input[type="text"],
	.bbsView *[data-member-form="phone"] > select{display:inline-block; width:30% !important;}
	.bbsView td.tel > span{display:inline-block;}
	.bbsView td.mail > input[type="text"]{margin:2px 0px;}
	.bbsView td.mail > select{width:100%;}
	
	.comment_area .write textarea{padding:10px 15px;}
	.comment_area .write .input{padding:7px 15px;}
	.comment_area .write .input >  span{float:none !important; display:block; margin:2px 0px;}
	.comment_area .write label{min-width:80px; margin-right:0px;}
	.comment_area .write input[type="text"],
	.comment_area .write input[type="password"]{width:calc(100% - 90px);}
	.comment_area .list .btn{position:static; margin-top:10px;}
	
	.secret_area input[type="password"]{display:block; margin:0 auto 10px;}
}

@media all and (max-width:480px){
	.bbsView dl:after{content:''; display:block; clear:both;}
	.bbsView dl dt,
	.bbsView dl dd{float:left;}
	.bbsView dl dt{width:130px !important; min-height:54px; border-left-width:0px;}
	.bbsView dl dt:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
	.bbsView dl dd{width:calc(100% - 130px) !important; min-height:54px;}
	.bbsView dl.col02 dt:nth-of-type(2){border-left-width:0px;}
	.bbsView dl.colspan dd{position:static;}
	.bbsView.dl{border:1px solid #868686; border-right-width:0px;}
	.bbsView dl:last-child dt,
	.bbsView dl:last-child dd{border-bottom:1px solid #d8d8d8}
	.bbsView dl:not(.col02){position:relative;}
	.bbsView dl:not(.col02) dt{position:absolute; left:0px; top:0px; height:100%;}
	.bbsView dl:not(.col02) dd{margin-left:130px;}
	
	.comment_area .comment_password input[type="password"]{display:block; width:200px; margin:0 auto 5px;}
}

@media all and (max-width:420px){
	.bbsView td.tel > input[type="text"],
	.bbsView td.tel > select{display:block; width:100% !important; margin:2px 0px;}
	.bbsView td.tel > span{display:none;}
}

@media all and (max-width:360px){
	.bbsView *[data-member-form="phone"] > select{display:block; width:100% !important;}	
	.bbsView *[data-member-form="phone"] > input[type="text"]{width:44% !important; margin-top:3px;}
}

@media all and (max-width:340px){
	ul.bbsList li .date{left:0px;}
	ul.bbsList li .subject{padding-left:100px; padding-right:0px;}
	ul.bbsList li .more{display:none;}
	
	.photoList > li{float:none !important; width:100%;}
	
	.search_bbs .search{position:relative;}
	.search_bbs .search select{position:absolute; left:0px; top:0px; width:70px;}
	.search_bbs .search .button{position:absolute; right:0px; top:0px;}
	.search_bbs .search input[type="text"]{width:100%; padding-left:80px; padding-right:70px;}
	
	.bbsView th[data-view="count"] + td{width:40px !important;}
	.bbsView col[data-write="th"]{width:100px !important;}
}